<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title></title>

<!-- Bootstrap -->
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link href="../../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Openwebinars.net Shop</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Opciones <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/admin/categoria/"
								th:href="@{/admin/categoria/}">Gestión de categorías</a></li>
							<li><a href="/admin/producto/" th:href="@{/admin/producto/}">Gestión
									de productos</a></li>
						</ul></li>
				</ul>
			</div>

		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<form method="post" action="#"
					th:action="@{/admin/producto/nuevo/submit}" th:object="${producto}">
					<h1>
						<span th:text="${producto.id} ? 'Editar' : 'Nuevo'"></span>
						producto
					</h1>
					<input type="hidden" th:field="*{id}" id="id" />
					<div class="form-group"
						th:classappend="${#fields.hasErrors('nombre')} ? 'has-error'">
						<label class="control-label" for="nombre">Nombre</label> <input type="text"
							class="form-control" id="nombre" placeholder="Nombre"
							th:field="*{nombre}" /> <span
							th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
							class="help-block" id="nombre-error">Errores</span>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('imagen')} ? 'has-error'">
						<label class="control-label" for="imagen">URL de la imagen</label> <input type="url"
							class="form-control" id="imagen" placeholder="http://..."
							th:field="*{imagen}"> <span
							th:if="${#fields.hasErrors('imagen')}" th:errors="*{imagen}"
							class="help-block" id="imagen-error">Errores</span>

					</div>
					<div class="form-group">
						<label class="control-label" for="descripcion">Descripción</label>
						<textarea class="form-control" id="descripcion"
							placeholder="Descripción" rows="3" th:field="*{descripcion}"></textarea>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('pvp')} ? 'has-error'">
						<label class="control-label" for="pvp">PVP</label> <input type="number"
							class="form-control" id="pvp" placeholder="1.0" th:field="*{pvp}" />
						<span th:if="${#fields.hasErrors('pvp')}" th:errors="*{pvp}"
							class="help-block" id="pvp-error">Errores</span>

					</div>
					<div class="form-group">
						<label class="control-label" for="descuento">Descuento</label> <input type="number"
							min="0" max="1" step="0.01" class="form-control" id="descuento"
							placeholder="0.0" th:field="*{descuento}" />
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('categoria')} ? 'has-error'">
						<label class="control-label" for="categoria">Categoría</label> <select
							th:field="*{categoria}" class="form-control">
							<option value="-1">---</option>
							<option th:each="categoria : ${categorias}"
								th:value="${categoria.id}" th:text="${categoria.nombre}">Categoría</option>
						</select> <span th:if="${#fields.hasErrors('categoria')}"
							th:errors="*{categoria}" class="help-block" id="categoria-error">Errores</span>

					</div>
					<button type="submit" class="btn btn-default">Enviar</button>
				</form>
			</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


</body>
</html>